<!DOCTYPE html>
<html class=' composer' dir='ltr' lang='en'>
<head>

<title>HTML Basics</title>
<meta charset='utf-8'>
<meta content='IE=edge,chrome=1' http='{:equiv=&gt;"X-UA-Compatible"}'>
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>

  <link href="https://cdn-production.codecademy.com/assets/application-ltr-0e8e8d4552c9291228a1a1f35e9c27ff.css" media="screen" rel="stylesheet" type="text/css" />

<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,400,700" media="screen" rel="stylesheet" type="text/css" />
<link href="https://cdn-production.codecademy.com/assets/rebrand/layouts/patch-6d3e5a9a67468a6c5771202b7f9e800b.css" media="screen" rel="stylesheet" type="text/css" />

<!--[if gte IE 9]>
<style type="text/css">
  .gradient {filter: none;}
</style>
<![endif]-->

    <link href="https://cdn-production.codecademy.com/assets/webpack/vendor.bundle-86f4eb92a96fd7f1d123b8fe69847239.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="https://cdn-production.codecademy.com/assets/webpack/composer.bundle-14120ecfe4cbc4bade0b9c92a1fce3a0.css" media="screen" rel="stylesheet" type="text/css" />

<script src="https://cdn-production.codecademy.com/assets/templates/widgets-en-df80c34c3f1dbc463ee489e907a4c0d2.js" type="text/javascript"></script>
  <script src="https://cdn-production.codecademy.com/assets/webpack/head.bundle-f91693707906e5f5eb8ab30c95eaf83e.js" type="text/javascript"></script>

</head>
<body class='projects show signed_in composer'>

<script src="https://cdn-production.codecademy.com/assets/templates/composer-en-f3a5864fd753baeceeda47086c0b6faa.js" type="text/javascript"></script>

<div>
<div class="lesson-left-bar">
  <div class="js-lesson-left-bar">
      <div class="lesson-nav ui-dropdown ui-dropdown--light ui-dropdown--checkpoints ui-dropdown--arrow-on-top js-checkpoints">
  <div class="ui-dropdown__arrow__container">
    <div class="ui-dropdown__arrow"></div>
    <div class="ui-dropdown__arrow-border__container">
      <div class="ui-dropdown__arrow-border"></div>
    </div>
  </div>

  <div class="block-list ui-counter ui-counter--bold">
    <a class="block-list__item ui-media ui-media--reverse lesson-nav__section js-section is-active">
      <div class="ui-media__image">
      </div>
      <div class="ui-media__main">
        Introduction to HTML
      </div>
    </a>
    <div class="js-section__content" data-index="0">
      <div class="block-list lesson-nav__exercises">
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="0">
          <div class="ui-media__image new-icon new-icon--small
          
             new-icon--checkpoint--completed
            
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Why learn HTML?
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="1">
          <div class="ui-media__image new-icon new-icon--small
          
             new-icon--checkpoint--completed
            
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              HTML and CSS
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="2">
          <div class="ui-media__image new-icon new-icon--small
           new-icon--checkpoint--current
">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              <strong>Basic terminology</strong>
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="3">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Make the head
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="4">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Paragraphs in the body
            </div>
          </div>
        </a>
      </div>
    </div>
    <a class="block-list__item ui-media ui-media--reverse lesson-nav__section js-section">
      <div class="ui-media__image">
      </div>
      <div class="ui-media__main">
        Body elements
      </div>
    </a>
    <div class="js-section__content" data-index="1">
      <div class="block-list lesson-nav__exercises">
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="0">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Paragraphs and headings
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="1">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              More about headings!
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="2">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Using every heading
            </div>
          </div>
        </a>
      </div>
    </div>
    <a class="block-list__item ui-media ui-media--reverse lesson-nav__section js-section">
      <div class="ui-media__image">
      </div>
      <div class="ui-media__main">
        Adding images to your site!
      </div>
    </a>
    <div class="js-section__content" data-index="2">
      <div class="block-list lesson-nav__exercises">
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="0">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Mid-lesson breather
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="1">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
               You&#39;re going places!
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="2">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Adding images
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="3">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Click that image
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="4">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Images and links
            </div>
          </div>
        </a>
        <a class="block-list__item ui-media lesson-nav__exercise js-switch-checkpoint" data-index="5">
          <div class="ui-media__image new-icon new-icon--small
          
            
             new-icon--checkpoint
          ">
          </div>
          <div class="ui-media__main">
            <div class="ui-counter__item">
              Congratulations!
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="block-list__item">
      <div class="lesson-nav__meta">Course by Leng Lee</div>
    </div>
  </div>
</div><div class="ui-overlay ui-overlay--dark js-checkpoints-overlay"></div>
<div class="lesson-left-bar__header">

  <div class="article__inner">
    <div class="lesson__course-name one-line-text js-course-name">HTML Basics</div>
    <div class="lesson-left-bar__toggle js-toggle-left-bar">
      <div class="new-icon--small new-icon--arrow-right"></div>
    </div>
  </div>
</div>
<div class="lesson-checkpoint__wrapper">
    <div class="lesson-completed-ribbon" title="You've completed this lesson!"></div>
  <div class="lesson-checkpoint nano">
    <div class="nano__content content">
      <div class="lesson-checkpoint__inner">
        <div class="article__inner">
          <div class="article__header">
            <div class="lesson-checkpoint__name">Basic terminology</div>
          </div>
          <div class="article__content">
            <p>To learn more HTML, we should learn how to talk about HTML. Already you have seen we use <code>&lt;&gt;</code>s a lot. </p>

<ol>
<li>Things inside <code>&lt;&gt;</code>s are called <strong>tags</strong>.</li>
<li>Tags nearly always come in pairs: an opening tag and a closing tag.</li>
<li>Example of opening tag: <code>&lt;html&gt;</code></li>
<li>Example of closing tag: <code>&lt;/html&gt;</code></li>
</ol>

<p>You can think of tags as being like parentheses: whenever you open one, you should close it. Tags also <strong>nest</strong>, so you should close them in the right order: the most recently opened tag should be the first one closed, like in the example below.</p>

<pre><code>&lt;first tag&gt;&lt;second tag&gt;Some text!&lt;/second tag&gt;&lt;/first tag&gt;
</code></pre>

<p>The last exercise taught us how to set up our HTML file. Everything we do now will go between <code>&lt;html&gt;</code> and <code>&lt;/html&gt;</code>.</p>

<p>Practice makes perfect! One more time:</p>

          </div>
        </div>
        <div class="lesson-checkpoint__instructions">
          <div class="article__inner lesson-checkpoint__instructions__header">
            <div class="block-label--light-blue">Instructions</div>
          </div>
          <div class="article__inner">
            <ol>
<li>Put in the <code>&lt;!DOCTYPE HTML&gt;</code> tag.</li>
<li>Put in the <code>&lt;html&gt;</code> opening and closing tags.</li>
<li>Between the <code>&lt;html&gt;</code> tags, write whatever you like.</li>
<li>Press Save &amp; Submit Code to see what you&#39;ve written appear on the page!</li>
</ol>

              <div class="ui-accordian ui-accordian--lesson">
                <div class="ui-accordian__inner">
                  <a href="#"
                     class="ui-accordian__trigger ui-media"
                     data-trigger-impression=true
                     data-utm-campaign="ad_narrative_testing_nov_2015"
                     data-utm-source="codecademy_platform"
                     data-utm-medium="internal_ad_composer_hint"
                     data-utm-content="wheretostart"
                    >
                    <div class="ui-media__image new-icon--small new-icon--center new-icon--circle--blue">?</div>
                    <div class="ui-media__main">
                      <span class="is-hidden-if-is-expanded"><b>Stuck?</b> Get a hint!</span>
                      <span class="is-shown-if-is-expanded--inline"><b>Hint</b></span>
                    </div>
                  </a>
                  <div class="ui-accordian__content has-markdown">
                    <a href="/pro"
                       target="_blank"
                       id="pro-ad-hint"
                       data-utm-campaign="ad_narrative_testing_nov_2015"
                       data-utm-source="codecademy_platform"
                       data-utm-medium="internal_ad_composer_hint"
                       data-utm-content="wheretostart"
                       >
                      Get live, fast support from Codecademy Advisors when you get stuck.
                      <span>Learn more.</span>
                    </a>

                    <p>Feel free to peek back at earlier exercises if you forget exactly what a tag looks like.</p>

                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
<div class="lesson-middle js-lesson-editor">
  <div class="waiting-overlay"></div>
  <div class="lesson-file-tabs js-lesson-file-tabs">
  <div class="lesson-middle__container lesson-editor-width">
    <div class="lesson-file-tabs__wrapper">
      <div>
          <div class="lesson-file-tabs__tab js-file-tab tab cf" data-type="index.html">
            <div class="new-icon--small--center new-icon--lesson-file fl"></div>
            <div class="fl">index.html</div>
          </div>      </div>
      <div id="composer-view-project-button-for-narrow-screen">
        <div class="actions-list actions-list--composer-tabs codebit-actions-management actions-list--individual-buttons">
          <div>
            <div class="js-view-project actions-list__button actions-entity has-hover ui-media">
              <div class="ui-media__image actions-list__icon cc-icon">project</div>
              <div class="ui-media__main actions-list__text">View Preview</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="lesson-ace-editor lesson-editor-width js-ace-editor orion-composer"></div>
<div class="file-container"></div>
</div>
<div class="lesson-sidebar lesson-sidebar--composer-responsive js-lesson-sidebar">
  <div class="lesson-sidebar-container">
    
<div class="result-chrome mini-preview">
  <div class="result-container frame-wrap js-frame-wrap"></div>
  <div class="js-codebit-actions cf">
  <div class="editor-actions">

     
<div class="actions-list actions-list--composer-teal composer-actions-management actions-list--individual-buttons">




    <a href="" class="js-full-screen actions-list__button actions-entity has-hover ui-media">
      <div class="ui-media__image actions-list__icon cc-icon">expand</div>
      <div class="ui-media__main actions-list__text">Full Screen</div>
</a></div>


  </div>
</div>

</div>

  <div class="result-chrome widget-err-console js-err-console is-hidden">
  <div class="result-container__js-errors-console__msgs js-err-msgs">
  </div>
</div>





    <div id="js-glossary-flash-card" class="glossary-flash-card glossary-flash-card--hidden"></div>
    <div id="js-backtest" class="backtest backtest--hidden"></div>
  </div>
</div>
<div class="lesson-action-bar js-lesson-action-bar">
  <div class="composer-bottom-bar lesson-action-bar__inner">
  <div class="button-group--horizontal">
    <a class="ui-button ui-button--medium ui-button--blue--on-dark ui-loading js-submit-code">
      <div class="ui-loading__other">
        Save & Submit Code
      </div>
      <div class="ui-loading__image new-icon--small new-icon--gear--white loading-spin"></div>
    </a>
    <a class="ui-button ui-button--medium ui-button--transparent--on-dark js-reset-code reset">Reset Code</a>
  </div>
</div>
<div class="lesson-action-bar__state lesson-action-bar__inner lesson-action-bar__inner--pass js-state--passed"></div>
<div class="lesson__state lesson__state--failed js-state--failed"></div>
<div class="lesson-action-bar__state lesson-action-bar__state--back lesson-action-bar__inner js-state--back">
  <a class="ui-button ui-button--medium ui-button--gray--on-dark js-back-to-editor back-editor">Back to Editor</a>
</div>
</div>
  <div class="full-preview js-full-preview">


  <div class="full-preview__frame js-full-preview__frame">
    <div class="full-preview__frame__wrap js-full-preview-container">
    </div>
  </div>

  <div class="full-preview__footer">
    <div class='full-preview-bar'>

  <div class="full-preview-bar__cta">

     

            <button class="button full-preview-bar__button ui-button ui-button--medium ui-button--blue--on-light ui-loading js-full-preview__back" id="">
      Back to editor
    </button>


    <div class="full-preview-bar__message js-message"></div>

  </div>

</div>

  </div>

</div>

</div>

<div data-react-class="ComposerFooter"><nav class="index__wrapper___1waHX index__footer___11DZw index__footer___2qYaX" data-reactid=".6v3" data-react-checksum="1274601701"><section class="index__section___1V-7u index__sectionLeft___3nm70" data-reactid=".6v3.0"><div class="index__tab___1YP8O" data-reactid=".6v3.0.0"><a href="#" title="3. Basic terminology" data-cue="course-navigator" class="NavMenuButton__button___3FR1r" data-reactid=".6v3.0.0.0"><span class="NavMenuButton__burger___8d8-Q" data-reactid=".6v3.0.0.0.0"></span><span data-cue="course-navigator" class="NavMenuButton__exerciseTitle___33H2J" data-reactid=".6v3.0.0.0.1">3. Basic terminology</span></a></div></section><noscript data-reactid=".6v3.1"></noscript></nav></div>

</body>

</html>

