<!DOCTYPE html>
<html>
	<head>
		<title>HTML Basics</title>
	</head>
 <body class='composer'>
 <div class="lesson">
  <div class="lesson-left-bar">
   <div class="lesson-left-bar-header">
    <div class="article-inner">
     <div class="lesson-course-name">HTML Basics</div>
    </div>
   </div>
    <div class="lesson-checkpoint-wrapper"> 
       <div class="lesson-checkpoint-inner">
        <div class="article-inner">
         <div class="article-header">
          <div class="lesson-checkpoint-name">Make the head</div>
         </div>
         <div class="article-content">
          <p>Everything in our HTML file will go between the opening <code class="xml"><span class="tag">&lt;<span class="title">html</span>&gt;</span></code> and closing <code class="xml"><span class="tag">&lt;/<span class="title">html</span>&gt;</span></code> tags.</p>
          <p>There are always two parts to an HTML file: the head and the body. Let's start with the head.</p>
          <p>The head contains information about your HTML file, like its title. The title is what we see in the browser's title bar or page tab. For example the title of this page is "HTML Basics | Codecademy".</p>
         </div>
        </div>
        <div class="lesson-checkpoint-instructions">
         <div class="lesson-checkpoint-instructions-header">
          <div class="block-label">Instructions</div>
         </div>
         <div class="article-inner">
          <p>Let's add a head and a title to our webpage.</p>
          <ol>
          	<li>Add an opening <code class="xml"><span class="tag">&lt;<span class="title">head</span>&gt;</span></code> tag and closing <code class="xml"><span class="tag">&lt;/<span class="title">head</span>&gt;</span></code> tag.</li>
          	<li>Between the <code class="xml"><span class="tag">&lt;<span class="title">head</span>&gt;</span></code> tags, add in an opening <code class="xml"><span class="tag">&lt;<span class="title">title</span>&gt;</span></code> tag and closing <code class="xml"><span class="tag">&lt;/<span class="title">title</span>&gt;</span></code> tag.</li>
          	<li>Between the <code class="xml"><span class="tag">&lt;<span class="title">title</span>&gt;</span></code> tags, write in a title for your page. For example, "My Webpage." </li>
          	<li>Press "Save &amp; Submit Code" to continue</li>
          </ol>
          </div>
        </div>
      </div>
     </div>
   </div>
   <div class="lesson-middle-bar">
      <div class="lesson-ace-editor">
      	hi hi hi ksjdlksjdlkasjdaslkjdasl;jds
       <textarea id="html" class="lesson-text-area" wrap="off" autocapitalize="off" spellcheck="false" ></textarea>
       <!--div class="ace_gutter">
       	<div class="ace_layer ace_gutter-layer ace_folding-enabled" style="margin-top: 0px; height: 230px; width: 42px;">
       		<div class="ace_gutter-cell" style="height: 19px;">1<span class="ace_fold-widget ace_start ace_open" style="height: 19px;"></span></div>
       		<div class="ace_gutter-cell" style="height: 19px;">2<span class="ace_fold-widget ace_start ace_open" style="height: 19px;"></span></div>
       		<div class="ace_gutter-cell" style="height: 19px;">3</div>
       		<div class="ace_gutter-cell" style="height: 19px;">4</div>
       		<div class="ace_gutter-cell" style="height: 19px;">5</div>
       		<div class="ace_gutter-cell" style="height: 19px;">6</div>
       		<div class="ace_gutter-cell" style="height: 19px;">7</div>
       		<div class="ace_gutter-cell" style="height: 19px;">8</div>
       		<div class="ace_gutter-cell" style="height: 19px;">9</div>
       	</div>
       	<div class="ace_gutter-active-line" style="top: 0px; height: 19px;"></div>
       </div>
       <div class="ace_scroller" style="left: 42px; right: 0px; bottom: 0px;">
       	<div class="ace_content" style="margin-top: 0px; width: 608px; height: 230px; margin-left: 0px;">
       		<div class="ace_layer ace_print-margin-layer"><div class="ace_print-margin" style="left: 676.113px; visibility: visible;"></div>
       	</div-->
       </div>
   </div>
   <div class="lesson-right-bar">
   	<section id="output">
		<iframe>
			
		</iframe>
	</section>
   </div>
  </div>
 </body>
</html>	
