@import "basic";
$darkest_color: #B71C1C;
$dark_color: #C62828; 
$medium_color: #D32f2f; 
$medium_light_color: #E57373;//#c5dfea; 
$light_color: #EF9A9A;//BAD6EA;
$lightest_color: #FFCDD2;//#DAE8F5;//#F0FAFF;
$check_image: 'check-white-small.png';
$close_icon: 'close-icon-white.png';
$error_icon: 'error-white-small.png';
$message_color: white;
.ace_gutter{background:$medium_light_color !important;}
.ace_active-line{background:$medium_light_color !important;}
.ace_gutter-active-line{background:$light_color !important;}
.ace_print-margin{background:$medium_light_color !important;}
@include basic($darkest_color,$dark_color, $medium_color, $medium_light_color, $light_color, $lightest_color, $check_image, $close_icon, $error_icon, $message_color);