@import "basic";
$darkest_color: #673AB7;//056f00;
$dark_color: #7E57C2; 
$medium_color: #9575CD; 
$medium_light_color: #B39DDB;//#c5dfea; 
$light_color: #D1C4E9;//BAD6EA;
$lightest_color: #EDE7F6;//#DAE8F5;//#F0FAFF;
$check_image: 'check-white-small.png';
$close_icon: 'close-icon-white.png';
$error_icon: 'error-white-small.png';
$message_color: white;
.ace_gutter{background:$medium_light_color !important;}
.ace_active-line{background:$medium_light_color !important;}
.ace_gutter-active-line{background:$light_color !important;}
.ace_print-margin{background:$medium_light_color !important;}
@include basic($darkest_color,$dark_color, $medium_color, $medium_light_color, $light_color, $lightest_color, $check_image, $close_icon, $error_icon, $message_color);