@import "basic";
$darkest_color: #FBC02D;//056f00;
$dark_color: #FDD835; 
$medium_color: #FFEB3B; 
$medium_light_color: #FFF176;//#c5dfea; 
$light_color: #FFF59D;//BAD6EA;
$lightest_color: #FFF9C4;//#DAE8F5;//#F0FAFF;
$check_image: 'check-black-small.png';
$close_icon: 'close-icon-black.png';
$error_icon: 'error-black-small.png';
$message_color: black;
.ace_gutter{background:$medium_light_color !important;}
.ace_active-line{background:$medium_light_color !important;}
.ace_gutter-active-line{background:$light_color !important;}
.ace_print-margin{background:$medium_light_color !important;}
@include basic($darkest_color,$dark_color, $medium_color, $medium_light_color, $light_color, $lightest_color, $check_image, $close_icon, $error_icon, $message_color);